<div class="pagecontent">
	<h1>{{ blog.title }}</h1>
	{% paginate blog.articles by settings.blog_pagination_limit %}
  		{% if blog.articles.size > 0 %}
          <div class="shopify-posts{% if settings.use_ajax_loading_posts %} ajax-holder{% endif %}">
              {% for article in blog.articles %}
                  <div class="post{% if settings.use_ajax_loading_posts %} ajax-item{% endif %}">
                      <h2><a href="{{ article.url }}">{{ article.title }}</a></h2>
                      {% if article.image %}<image src="{{ article | img_url: 'medium' }}" />{% endif %}	  
                      <p>{% assign published_at = article.published_at | date: format: 'short' %}{{ 'blogs.article.posted_on_date' | t: author: article.author, date: published_at }} {% if article.comments_enabled? %}, <span>{{ 'blogs.comments.comments_with_count' | t: count: article.comments_count }}</span>{% endif %}</p>
                      {% capture read_more %}<a href="{{ article.url }}">{{ 'blogs.article.read_more' | t }}</a>{% endcapture %}
                      {% if article.excerpt != blank %}
                    	  <p>{{ article.excerpt }} {{ read_more }}</p>
                      {% else %}
                          <p>{{ article.content | strip_html | truncatewords: 40 , '... ' | append: read_more }}</p>
                      {% endif %}
                  </div>
              {% endfor %}
          </div>
  		  {% if settings.use_ajax_loading_posts %}
            {% if paginate.next.is_link %}
            	<a class="ajax-next" href="{{ paginate.next.url }}">{{ paginate.next.title }}</a>
            {% endif %}
          {% else %}
            {% include 'pagination' %}
          {% endif %}
  		{% else %}
           <p>{{ 'blogs.article.no_posts' | t }}</p>
        {% endif %}
	{% endpaginate %}
</div>